body, html { margin: 0; min-height: 100vh; }

body { 
  font-family: 'Mitr', sans-serif;

  background-color: #6E5C62;
  color: #ffffff;
}

.content { 
  padding: 1%;

  gap: 10px;

  display: grid;
  place-items: center;
}

.grid-wordle {
  display: grid;
  grid-template-rows: repeat(5, 70px);
  gap: 15px;

  margin-bottom: 2%;
}

.grid-wordle > .line {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  gap: 10px;
}

.grid-wordle > .line > .letter {
  display: grid;
  place-items: center;
  height: 100%;

  border: 5px solid #4C4347;
  background-color: #615458;
  color: #ffffff;
  border-radius: 8px;

  font-size: 22px;
  font-weight: 700;
}

.keyboard {
  display: grid;
  place-items: center;
  height: 100%;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.row > button {
  font-family: 'Mitr', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.row > button:hover {
  background-color: #5e474e;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.key, .enter, .backspace {
  padding: 12px 25px;
  background-color: #4C4347;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.notification {
  display: none;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.reset {
  display: none;
}

.reset > button {
  height: 50px;
  width: 150px;

  background-color: #3b3637;
  color: #ffffff;

  cursor: pointer;

  font-family: 'Mitr', sans-serif;
  font-weight: 700;

  border: none;
  border-radius: 5px;
}

.reset > button:hover {
  background-color: #464141;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.correct-letter {
  background-color: #3AA394 !important;
}

.correct-letter:hover {
  background-color: #27c9b0 !important;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.incorrect-position {
  background-color: #D3AD69 !important;
}

.incorrect-position:hover {
  background-color: #e4a02c !important;
}

.non-existent {
  background-Color: #594B4F;
  color: #6E5C62;
}